.container {
    width: 500px;
}
.container .bingocontainer {}
.container .bingocontainer .hidden {
    display: none;
}
.container .bingocontainer .visible {
    display: visible;
}
.container .titlecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-size: 35px;
}
.container .boardcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .boardcontainer .tilecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: lightgrey;
    color: black;
    border: solid black 1px;
    margin-left: -1px;
    margin-bottom: -1px;
}
.container .boardcontainer .tilecontainer.selected {
    background: black;
    color: lightgrey;
}